/* ./styles/globals.css # */
@tailwind base;
@tailwind components;
@tailwind utilities;


#color-primary{
  background-color: #2E4B91;
}
#color-button{
  background-color: #DAE3ED;
  
}

#color-button:hover  {
  background-color: black;
  color: white;
  
}

#color-text{
  color: #DAE3ED;
}
